<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>


    <h1>Registration PAGE</h1>
    <form action="" method='post'>{%csrf_token%}
        <input type="text" name="username" id="username" placeholder="usernmae" required><br> 
        <input type="email" name="email" id="email" placeholder="Email" required><br>
        <input type="password" name="password"placeholder="Enter password" required><br>

        <button type="submit"> Register </button>
         

    </form>

</body>
</html>
